package ${package}.${moduleName}.service;

import com.baomidou.mybatisplus.service.IService;
import ${package}.${moduleName}.entity.${className}Entity;


/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service extends IService<${className}Entity> {

}

