<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!--  1. 配置 SecurityManager! -->     
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="cacheManager" ref="cacheManager"/>
        <!-- <property name="realms" ref="jdbcRealm"></property>有了下面这个 不需要这个额-->
        <property name="authenticator" ref="authenticator"></property><!-- 认证策略   AtLeastOneSuccessfulStrategy  AllSuccessfulStrategy-->
        <property name="realms">
    		<list>
    			<ref bean="jdbcRealm"></ref>
    			<ref bean="secondRealm"></ref>
    		</list>
    	</property>
    	
    	<!-- 测试token.setRememberMe(true);  能记住多少秒-->
    	<property name="rememberMeManager.cookie.maxAge" value="10"></property>
    </bean>
    
    <!--  
    2. 配置 CacheManager.   缓存管理    ,授权管理的时候，只需要授权一次，不用每次都授权
    2.1 需要加入 ehcache 的 jar 包及配置文件. 
    -->     
    <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:ehcache.xml"/> 
    </bean>
    
    
    <bean id="authenticator" 
    	class="org.apache.shiro.authc.pam.ModularRealmAuthenticator">   	
    	<property name="authenticationStrategy"><!-- 认证策略   AtLeastOneSuccessfulStrategy  AllSuccessfulStrategy-->
    		<bean class="org.apache.shiro.authc.pam.AtLeastOneSuccessfulStrategy"></bean>
    	</property>
    </bean>
    <!-- 
    	3. 配置 Realm 
    	3.1 直接配置实现了 org.apache.shiro.realm.Realm 接口的 bean
    -->     
    <bean id="jdbcRealm" class="com.zy.shiro.realms.ShiroRealm">
    	<property name="credentialsMatcher"><!--配置了这个，ShiroRealm里的credentials密码，就要用加密后的字符串代替  密码一样，字符串还一样 -->
    		<bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
    			<property name="hashAlgorithmName" value="MD5"></property>
    			<property name="hashIterations" value="1024"></property><!-- 加密次数 -->
    		</bean>
    	</property>
    </bean>
    <bean id="secondRealm" class="com.zy.shiro.realms.SecondRealm">
    	<property name="credentialsMatcher"><!--配置了这个，ShiroRealm里的credentials密码，就要用加密后的字符串代替  密码一样，字符串还一样 -->
    		<bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
    			<property name="hashAlgorithmName" value="SHA1"></property>
    			<property name="hashIterations" value="1024"></property><!-- 加密次数 -->
    		</bean>
    	</property>
    </bean>
    <!--  
    4. 配置 LifecycleBeanPostProcessor. 可以自定的来调用配置在 Spring IOC 容器中 shiro bean 的生命周期方法. 
    -->       
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
   
    <!--  
    5. 启用 IOC 容器中使用 shiro 的注解. 但必须在配置了 LifecycleBeanPostProcessor 之后才可以使用. 
    -->     
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor"/>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>
     <!--  
    6. 配置 ShiroFilter. 
    6.1 id 必须和 web.xml 文件中配置的 DelegatingFilterProxy 的 <filter-name> 一致.
                      若不一致, 则会抛出: NoSuchBeanDefinitionException. 因为 Shiro 会来 IOC 容器中查找和 <filter-name> 名字对应的 filter bean.
    -->     
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/login.jsp"/>
        <property name="successUrl" value="/list.jsp"/>
        <property name="unauthorizedUrl" value="/unauthorized.jsp"/>
       
        
        <!--  
        	配置哪些页面需要受保护. 
        	以及访问这些页面需要的权限. 
        	1). anon 可以被匿名访问
        	2). authc 必须认证(即登录)后才可能访问的页面. 
        	3). logout 登出.
        	4). roles 角色过滤器
        -->
        <!--  filterChainDefinitionMap下面配置的就为了使用数据库里的权限来校验，不需要自己一个个配置 -->
        <property name="filterChainDefinitions">
            <value>
                /login.jsp = anon
                /shiro/login = anon
                /shiro/logout = logout
                
                /user.jsp = roles[123]
                /admin.jsp = roles[admin]
                
                # everything else requires authentication:
                /** = authc
            </value>
        </property>     
    </bean>
    
    <!-- 配置一个 bean, 该 bean 实际上是一个 Map. 通过实例工厂方法的方式 
    <bean id="filterChainDefinitionMap" 
    	factory-bean="filterChainDefinitionMapBuilder" factory-method="buildFilterChainDefinitionMap"></bean>
    
     <bean id="filterChainDefinitionMapBuilder"
    	class="com.zy.shiro.factory.FilterChainDefinitionMapBuilder"></bean>-->
    
    
    <!-- 直接类上 @Service("shiroService")就行,这个与授权注解冲突-->
    <bean id="shiroService" class="com.zy.shiro.services.ShiroService"> </bean>
</beans>
